{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbour Hood</title>
    {% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endblock %}
    
</head>
<body>
<div class="container-fluid">

  
{% include 'navbar.html' %} 
{% block content %}{% endblock %}
 
    






















{% block scripts %}
<script src="{%static 'js/jquery-3.3.1.min.js'%}" type="text/javascript"></script>
<script src="{%static 'js/bootstrap.min.js'%}" type="text/javascript"></script>
<script src="{%static 'js/mdb.min.js'%}" type="text/javascript"></script>
<script src="{%static 'js/popper.min.js'%}" type="text/javascript"></script>
<script src="{%static 'js/main.js'%}" type="text/javascript"></script>
{% endblock %}

</div>     
</body>
</html>