{% extends 'base.html' %}
<style>
.text{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50,-50);
    color: red;
    text-decoration:underline;
}
</style>
{% block content %}
<div class="index view overlay" style=" background-image: url(../static/img/land.jpg); 
height:75vh;
width:100%;overflow: hidden;background-size:cover;background-attachment: fixed">
<div class="mask text-center rgba-grey-light" id="test">
    <h3 style="">The Neighbourhood</h3>
    <br>
    <br>
    <h4>know Your Hood</h4>
</div>


</div>
<div>
    Houses works
</div>
{% endblock %}